%tbody
  - forecasts_by_region(forecasts) do |is_new_region, region, loc, detail|
    -if is_new_region
      %tr.region-details
        - columns = forecast_summary.daily_times.size + 2
        %td{colspan: columns}
          = region.description
          = render partial: 'wta_trip_report_link', locals: { loc: loc, link_text: 'WTA trip reports' }

    %tr.weather-details
      %td{class: 'center'}
        = render partial: 'alert_links',
          locals: {alerts: detail.alerts, blank_alert_msg: 'N/A', shorten: true}
      %td.location-change.location-row
        = render partial: 'wta_trip_report_link', locals: { loc: loc, link_text: nil }
        %a{href: "##{loc.description}"}
          =loc.description.upcase
      - forecast_summary.daily_times.each do |time|
        / FIXME move a lot of this to helper code
        - daily_ts = detail.daily(time)
        - css_row_classes = add_weekend_class(time, 'precipitation location-change')
        %td{class: css_row_classes}
          -if daily_ts
            %i{class: icon_class(daily_ts.icon, daily_ts.precipProbability, daily_ts.cloudCover, daily_ts.temperatureHigh), title: daily_ts.summary}
