%tbody
  - forecasts_by_region(forecasts) do |is_new_region, region, loc, detail|
    -if is_new_region
      %tr.region-details
        %td{colspan: 10}
          = region.description
          %a{href: "#{region.wta_trip_report_url}", target: '_blank'}
            = image_tag("wta-logo.png", size: '25x25', title: 'WTA Trip Reports', alt: 'WTA Trip Reports')
            WTA trip reports

    %tr.weather-details
      %td{class: 'center'}
        = render partial: 'alert_links',
          locals: {alerts: detail.alerts, blank_alert_msg: 'N/A'}
      %td.location-change
        %a{href: "#{loc.wta_trip_report_url}", target: '_blank' }
          = image_tag("wta-logo.png", size: '25x25', title: 'WTA Trip report', alt: 'TR')
        %a{href: "##{loc.description}"}
          =loc.description.upcase
      - forecast_summary.daily_times.each do |time|
        / FIXME move a lot of this to helper code
        - daily_ts = detail.daily(time)
        - css_row_classes = add_weekend_class(time, 'precipitation location-change')
        %td{class: css_row_classes}
          -if daily_ts
            %i{class: icon_class(daily_ts.icon, daily_ts.precipProbability), title: daily_ts.summary}
